<div ng-controller="MainCtrl as main">

    <div class="row row-fluid">

        <div class="span6"><h3>Input</h3></div>
        <div class="span6"><h3>Model</h3></div>

    </div>
    <div class="row row-fluid">

        <div class="span6 well">
            <input type="text" ng-model="main.myVariable" ng-minlength="20"/><br>
            <input type="text" ng-model="main.myVariable"/>
        </div>
        <pre class="span6">{{main.myVariable | json}}</pre>

    </div>
    <div class="row row-fluid">

        <div class="span6">
            <pre><code ng-non-bindable>&lt;input type="text" ng-model="main.myVariable"/&gt;
&lt;input type="text" ng-model="main.myVariable"
  ng-minlength="20"/&gt;</code></pre>
        </div>
        <div class="span6">
            <pre><code ng-non-bindable>{{main.myVariable | json}}</code></pre></div>

    </div>

</div>